body {
font-size:x-large;
position: static;
display: block;
background-color: #1a1b1e;
width: 100vw;
height: 100vh;
margin: 0;
padding: 0;
color: white;
font-family: 'Lato', sans-serif;
}
.area {
  width: 100vw;
  height: 100vh;
  background-color: #1f2020;
  box-shadow: 0px 0px 2px mediumaquamarine;
}
.area > p {
  padding: 7vw;
  padding-top: 6vh;
}
.socials { display: none; }

.area > ul {
  position: absolute;
  min-width: 80vw;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 30%);
  padding:0;
  text-align: center;
  color: mediumaquamarine;
  font-size: medium;
}
.area > ul > li:hover {
  background: white;
  border-radius: 5px;
}
.area > ul > li {
  padding: 5px 8px 5px 8px;

  display: inline-block;
}
#avatar {
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translate(-52.5%, 0%);
  width:35vh;
  height:35vh;
}
.aboutme {
background-color: mediumaquamarine;
min-height: 30vh;
}
a:visited, a:link {
color:mediumaquamarine;
text-decoration: none;
}
