body {
font-size:x-large;
position: static;
display: block;
background-color: #1a1b1e;
width: 100vw;
height: 100vh;
margin: 0;
padding: 0;
color: white;
font-family: 'Lato', sans-serif;
}
.area {
  width: 80vw - 10px;
  min-height: 100vh;
  background-color: #1f2020;
  margin-left: 10vw;
  margin-right: 10vw;
  box-shadow: 0px 0px 2px mediumaquamarine;
}
.area > p {
  padding-left: 40vh;
}
.area > ul {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 30%);
  border-bottom: 2px solid white;
  padding:0;
  text-align: center;
  color: mediumaquamarine;
  font-size: large;
}
.area > ul > li:hover {
  background: white;
}
.area > ul > li {
  padding: 10px;
  padding-bottom: 6px;
  display: inline-block;
}
#avatar {
  position: fixed;
  left: 12vw;
  top: 3vh;
  width:35vh;
  height:35vh;
}
.aboutme {
background-color: mediumaquamarine;
min-height: 30vh;
}
a:visited, a:link {
color:mediumaquamarine;
text-decoration: none;
}
