body {
font-size:x-large;
position: static;
display: block;
background-color: black;
width: 100vw;
height: calc(100vh - 3px);
margin: 0;
padding: 0;
color: white;
font-family: 'Lato', sans-serif;
}
.area {
  margin: 3px;
  height: calc(100% - 6px);
  background-color: #1f2020;
}
.area > p {
  padding-left: 30vh;
}
.area > ul {
  position: absolute;
  min-width: 90vw;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 30%);
  /*border-bottom: 2px solid white;*/
  padding:0;
  text-align: center;
  color: mediumaquamarine;
  font-size: large;
}
.area > ul > li:hover {
  border-radius: 5px;
  background: white;
}
.area > ul > li {
  padding: 10px;
  padding-bottom: 6px;
  display: inline-block;
}
#avatar {
  position: fixed;
  left: 3vw;
  top: 3vh;
  width:35vh;
  height:35vh;
}
.aboutme {
background-color: mediumaquamarine;
min-height: 30vh;
}
a:visited, a:link {
color:mediumaquamarine;
text-decoration: none;
}
